---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

  <Header title={SITE_TITLE} />
  <main class="px-4">
    <div class="py-4">
      <h1 class="flex justify-center items-center">Hi, I'm Baijanath Tharu</h1>
      <h3 class="flex justify-center items-center">
        A software developer from Nepal
      </h3>

      <div class="my-4 flex justify-center items-center">
        <a href="https://twitter.com/baijanaththaru" target="blank"
          ><img
            src="https://img.shields.io/twitter/follow/baijanaththaru?logo=twitter&style=for-the-badge"
            alt="baijanaththaru"
          />
        </a>
      </div>
    </div>
  </main>
  <Footer />
</BaseLayout>
