---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

	<Header title={SITE_TITLE} />
	<main class="px-4">
		<h2>Hello, I am a Software Developer from Nepal.</h2>
	</main>
	<Footer />
</BaseLayout>
