---
const today = new Date();
---

<footer>
  <div>
    <p class="text-xs text-primary-focus">*****</p>
    <p class="text-xs">
      Made with <a
        class="underline font-bold"
        href="https://astro.build/"
        target="_blank"
        rel="noreferrer noopener">Astro</a
      >
    </p>
  </div>
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
