---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Baijanath Tharu. All rights reserved.
	<div>
		<p>
			Made with <a
				class="underline font-bold"
				href="https://astro.build/"
				target="_blank"
				rel="noreferrer noopener">Astro</a>
		</p>
	</div>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
