---
import { SITE_TITLE } from "../config";
import SocialLinks from "./SocialLinks.astro";

const themes = [
  "light",
  "dark",
  "cupcake",
  "bumblebee",
  "emerald",
  "corporate",
  "synthwave",
  "retro",
  "cyberpunk",
  "valentine",
  "halloween",
  "garden",
  "forest",
  "aqua",
  "lofi",
  "pastel",
  "fantasy",
  "wireframe",
  "black",
  "luxury",
  "dracula",
  "cmyk",
  "autumn",
  "business",
  "acid",
  "lemonade",
  "night",
  "coffee",
  "winter",
];
---

<div class="navbar bg-base-100">
  <div class="flex-start w-[fit-content] lg:flex-1">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path>
        </svg>
      </label>
      <ul
        tabindex="0"
        class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li>
          <a class="" href="/projects">Projects</a>
        </li>
        <SocialLinks />
      </ul>
    </div>
    <a href="/" class="hover:text-primary mx-4">
      <h1 class="normal-case text-2xl font-bold w-full">{SITE_TITLE}</h1>
      <span class="text-xs italic">A Software Developer</span>
    </a>
  </div>
  <!-- desktop menu -->
  <div class="navbar-end hidden md:flex">
    <div class="navbar-end hidden lg:flex">
      <ul class="menu menu-horizontal p-0">
        <!-- <li>
          <a
            class={`hover:text-primary text-xl font-semibold hover:bg-transparent ${
              Astro.url.pathname === "/blog" ? "text-primary underline" : ""
            }`}
            href="/blog">Blog</a
          >
        </li> -->
        <li class="p-2">
          <a class="" href="/projects">Projects</a>
        </li>
      </ul>
    </div>
    <SocialLinks />

    <!-- theme changer -->

    <!-- <div class="pl-4 h-full flex justify-center items-center">
      <div class="w-52">
        <div class="relative">
          <select
            id="theme-select"
            class="block appearance-none w-full py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:ring"
          >
            <option value="">Choose a theme</option>
            {themes.map((theme) => <option value={theme}>{theme}</option>)}
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              ></path>
            </svg>
          </div>
        </div>
      </div>

      <script>
        const storedTheme = localStorage.getItem("theme");
        const selectElement = document.getElementById("theme-select");

        if (storedTheme) {
          document.documentElement.setAttribute("data-theme", storedTheme);
        }

        selectElement.addEventListener("change", function (event) {
          const selectedTheme = event.target.value;
          document.documentElement.setAttribute(
            "data-theme",
            selectedTheme || ""
          );
          localStorage.setItem("theme", selectedTheme);
        });
      </script>
    </div> -->
  </div>
</div>
