---
import { SOCIAL_LINKS } from "../config";

const { github, linkedin } = SOCIAL_LINKS;
---

<ul class="flex gap-3">
  <li>
    <a class="underline hover:text-primary" target="_blank" href={github}>
      <!-- <img
        width="32px"
        height="32px"
        src="/icons/github.svg"
        alt="github profile link"
      /> -->
      Github
    </a>
  </li>

  <li>
    <a class="underline hover:text-primary" target="_blank" href={linkedin}>
      <!-- <img
        width="32px"
        height="32px"
        src="/icons/linkedin.svg"
        alt="linkedin profile link"
      /> -->
      LinkedIn
    </a>
  </li>
</ul>
